body {
font-size: 100%;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.item img {
  height: 450px !important;
  width: 850px !important;
}
.bgtext {
    text-shadow: 0 0 3px cyan;
}
