<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <header class="mb-5">
            <!-- As a link -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href="/">Sai Babu Bonthu</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page"
                                   href="{{ url_for('simple_pages.show', page="index") }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="page1") }}">Docker</a>
                            </li>
                            <li class="nav-item bgtext">
                                <a class="nav-link active"
                                   href="{{ url_for('simple_pages.show', page="page2") }}">GIT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('simple_pages.show', page="page3") }}">Python/Flask</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('simple_pages.show', page="page4") }}">CI/CD</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('simple_pages.show', page="page5") }}">OOP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('simple_pages.show', page="page6") }}">AAA</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('simple_pages.show', page="page7") }}">OOPCAL</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{{ url_for('simple_pages.show', page="page8") }}">SOLID</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <header>

                    <h1>My Understanding on GIT</h1><small>
                    Last updated on
                    <time datetime="March 28,2022">March 28,2022</time>
                    by Sai Babu Bonthu </small>
                    <img src="{{ url_for('static', filename='images/git.png') }}" class="d-block w-100" alt="...">
                    <h4>Branch</h4>
                    <p>In Git, branches are a part of your everyday development process. Git branches are effectively a
                        pointer to a snapshot of your changes. When you want to add a new feature or fix a bug—no matter
                        how
                        big or how small—you spawn a new branch to encapsulate your changes.</p>
                    <h4>Merge</h4>
                    <p>Merging is Git's way of putting a forked history back together again. The git merge command lets
                        you
                        take the independent lines of development created by git branch and integrate them into a single
                        branch.</p>
                    <h4>Commit</h4>
                    <p>The git commit command captures a snapshot of the project's currently staged changes. Committed
                        snapshots can be thought of as “safe” versions of a project—Git will never change them unless
                        you
                        explicitly ask it to. Prior to the execution of git commit, The git add command is used to
                        promote
                        or 'stage' changes to the project that will be stored in a commit. These two commands git commit
                        and
                        git add are two of the most frequently used.</p>
                    <h4>Tags</h4>
                    <p>Tags are ref's that point to specific points in Git history. Tagging is generally used to capture
                        a
                        point in history that is used for a marked version release. A tag is like a branch
                        that doesn't change. Unlike branches, tags, after being created, have no further history of
                        commits.</p>
                    <h4>Repositories</h4>
                    <p>A Git repository is the . git/ folder inside a project. This repository tracks all changes made
                        to
                        files in your project, building a history over time.</p>

                </header>
            </div>
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/flayout.png') }}" class="card-img-top"
                         alt="...">
                    <div class="card-body">
                        <p class="card-text">This page is built with F layout.</p>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Reference
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">reference link for GIT</h5>
                        <a href="https://www.atlassian.com/git/tutorials/using-branches" class="btn btn-primary">GIT</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Sai Babu
                    </div>
                    <div class="card-body">
                        <p class="card-text">This page was authored by Sai Babu at NJIT.</p>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>Thankyou</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>
